{% extends 'base.html' %}
{% load static %}
{% block heads %}

<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="{% static 'auth.css' %}">

{% endblock %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form.errors %}
        <div class="error-messages">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {{ form.as_p }}
    <button type="submit">Sign Up</button>
</form>

{% endblock %}